
h1{
    color: white;
    padding-left: 2%;
    opacity: 0.8;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
